@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ACTIVITY API FUN!</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get any activity</h2>
        <p>
            GET ANY ACTIVITY
        </p>
        <p><a class="btn btn-default" href="~/One/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get specific activity</h2>
        <p>GET ONLY SPECIFIC ACTIVITY</p>
        <p><a class="btn btn-default" href="~/Specific/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get multiple activities</h2>
        <p>GET MULTIPLE ACTIVITIES AT ONCE</p>
        <p><a class="btn btn-default" href="~/Multiple/Index">Learn more &raquo;</a></p>
    </div>
</div>